<!DOCTYPE html>
<html>

<head>
  <title>unicorns</title>
  <link href="../css/photon.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet">
</head>

<body>
  <div class="window">
    <header class="toolbar toolbar-header">
      <div class="toolbar-actions">
        <div class="btn-group">
          <button class="btn btn-default">
            <span class="icon icon-home"></span>
          </button>
          <button class="btn btn-default">
            <span class="icon icon-folder"></span>
          </button>
          <button class="btn btn-default active">
            <span class="icon icon-cloud"></span>
          </button>
          <button class="btn btn-default">
            <span class="icon icon-popup"></span>
          </button>
          <button class="btn btn-default">
            <span class="icon icon-shuffle"></span>
          </button>
        </div>

        <button class="btn btn-default">
          <span class="icon icon-home icon-text"></span> Filters
        </button>

        <button class="btn btn-default pull-right">
          <span class="icon icon-cc-by"></span>
        </button>
      </div>
    </header>

    <!-- Tabs
    <div class="tab-group">
      <div class="tab-item">
        <span class="icon icon-cancel icon-close-tab"></span> Tab
      </div>
      <div class="tab-item active">
        <span class="icon icon-cancel icon-close-tab"></span> Tab active
      </div>
      <div class="tab-item">
        <span class="icon icon-cancel icon-close-tab"></span> Tab
      </div>
      <div class="tab-item tab-item-fixed">
        <span class="icon icon-plus"></span>
      </div>
    </div>
  -->

    <div class="window-content">
      <div class="pane-group">
        <div class="pane-sm sidebar">
          <nav class="nav-group">
            <h5 class="nav-group-title">Favorites</h5>
            <a class="nav-group-item active" onclick="alert('is there a rainbow?')">
              <span class="icon icon-home"></span> frapsoft
            </a>
            <span class="nav-group-item" onclick="alert('https://github.com/ellerbrock')">
              <span class="icon icon-github"></span> ellerbrock
            </span>
            <span class="nav-group-item">
              <span class="icon icon-download"></span> Unicorn
            </span>
            <span class="nav-group-item">
              <span class="icon icon-folder"></span> Documents
            </span>
            <span class="nav-group-item">
              <span class="icon icon-signal"></span> AirPlay
            </span>
            <span class="nav-group-item">
              <span class="icon icon-print"></span> Applications
            </span>
            <span class="nav-group-item">
              <span class="icon icon-cloud"></span> Desktop
            </span>
          </nav>
        </div>
        <div class="pane">
          <table class="table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Kind</th>
                <th>File Size</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>unicorns are awesome dude</td>
                <td><span class="icon icon-heart"></span> unicorns <span class="icon icon-heart"></span></td>
                <td>32K</td>
              </tr>
              <tr>
                <td>this is a rainbow file</td>
                <td><span class="icon icon-heart"></span> unicorns <span class="icon icon-heart"></span></td>
                <td>7K</td>
              </tr>
              <tr>
                <td>unicorn on rainbow</td>
                <td><span class="icon icon-heart"></span> unicorns <span class="icon icon-heart"></span></td>
                <td>8K</td>
              </tr>
              <tr>
                <td>i like air</td>
                <td><span class="icon icon-heart"></span> unicorns <span class="icon icon-heart"></span></td>
                <td>25K</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <footer class="toolbar toolbar-footer">
      <h1 class="title">more infos about unicorns ...</h1>
    </footer>
  </div>
</body>

</html>
